<nav class="navbar navbar-expand-lg navbar-dark very-black">
  <div class="container-fluid">
    <strong>
      <%= link_to 'PEDRO.TV', root_path, class: 'navbar-brand text-dark-purple' %>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-left very-black" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in? %>
              <li><%= link_to 'Edit account', edit_user_registration_path(current_user), class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            <% else %>
              <li><%= link_to 'Sign in', new_user_session_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>